/**
 * 
 */
.errorReport {
	color: red;
}

th.itemNum {
	
}

th.description, td.description {
	padding-left: 10px;
}

td.stock {
	
}

td.inStock {
	color: green;
}

td.outOfStock {
	color: red;
}

th.watched {
	padding-left: 10px;
	padding-right: 10px;
}

span.isWatched {
	background-image: url('images/open-eye-25px-25px.png');
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: block;
}

span.notWatched {
	background-image: url('images/closed-eye-25px-25px.png');
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: block;
}

span.wasNotified {
	background-image: url('images/sentmail-25px-25px.png');
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: block;
}