<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jaxrs-2.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>javaMail-1.5</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <webApplication id="ui" location="LipSenseMonitorFrontend.war" contextRoot="/"/>
    <webApplication id="rest" location="LipSenseMonitorBackend.war" contextRoot="/rest"/>

</server>
